.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/admin/config'}
      %i.fa.fa-chevron-left
      = t(:'back')

    .form-wrapped
      %h1= t(:'membership/configuration/announcements/view/section_title')
    
      - if @all_announcements.empty?
        .message.message-warning
          = t(:'membership/configuration/announcements/view/none')

      %ul.block-list
        - @all_announcements.each do |an|
          %li.admin-config-announcement-entry
            %ul.inline-list
              %li
                = t(:'membership/configuration/announcements/view/created', :ts => an.created)
              - if an.only_logged_in
                %li
                  = t(:'membership/configuration/announcements/view/only_logged_in')
              %li
                = t(:'membership/configuration/announcements/view/announcement_id', :id => an.id)

            %blockquote.blockquote-plain
              = an.message
            
            - if has_role?("admin:config:announcements:modify")
              %form.inline-form{:method => 'POST', :action => "/admin/config/announcements/delete"}
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => 'hidden', :name => 'id', :value => an.id}
                %button.pure-button.button.button-error{:type => 'submit'}
                  %i.fa.fa-trash= ""
                  = t(:'membership/configuration/announcements/view/actions/delete')

              %form.inline-form{:method => 'POST', :action => "/admin/config/announcements/toggle"}
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => 'hidden', :name => 'id', :value => an.id}
                %button.pure-button.button{:type => 'submit', :class => (an.visible ? 'button-warning' : 'button-primary')}
                  - if an.visible
                    %i.fa.fa-times= ""
                    = t(:'membership/configuration/announcements/view/actions/disable')
                  - else
                    %i.fa.fa-check= ""
                    = t(:'membership/configuration/announcements/view/actions/enable')

    - if has_role?("admin:config:announcements:create")
      %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => "/admin/config/announcements/create"}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %h1= t(:'membership/configuration/announcements/create/section_title')
        
        %label{:for => 'message'}
          = t(:'membership/configuration/announcements/create/message')
        %input#message{:name => 'message', :type => 'text', :required => 'true'}
        
        %label{:for => 'only_logged_in'}
          %input#only_logged_in{:name => 'only_logged_in', :type => 'checkbox'}
          = t(:'membership/configuration/announcements/create/only_logged_in')
          
        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-plus= ""
          = t(:'membership/configuration/announcements/create/submit')
