.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/admin/config'}
      %i.fa.fa-chevron-left
      = t(:'back')
    
    .message.message-warning
      %div= t(:'membership/configuration/refresh/all')
      %div= t(:'membership/configuration/refresh/contact_sysadmin')

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      .fieldswitch
        %label{:for => 'enabled'}= t(:'membership/configuration/dashboard_content/visibility')
        %select#enabled.fieldswitch-select{:name => 'enabled'}
          %option{:value => 'yes', :selected => (@enabled_entry.value == 'yes')}
            = t(:'membership/configuration/dashboard_content/visibility/enabled')
          %option{:value => 'no', :selected => (@enabled_entry.value != 'yes')}
            = t(:'membership/configuration/dashboard_content/visibility/disabled')

        .fieldswitch-field{:'data-type' => 'yes'}
          %label{:for => 'header'}= t(:'membership/configuration/dashboard_content/header_field')
          %input#header{:name => 'header', :type => 'text', :value => @header_entry&.respond_to?(:value) ? @header_entry.value : ""}

          = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'body', :editor_label => t(:'membership/configuration/dashboard_content/body_field'), :editor_data => @body_entry&.respond_to?(:value) ? @body_entry.value : ""}

      %button.pure-button.button.button-primary{:type => 'submit'}
        = t(:'membership/configuration/dashboard_content/submit')

.async-load{:'data-sources' => JSON.generate(['/static/editor.bundle.js'])}
