.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/user/mfa'}
      %i.fa.fa-chevron-left= ""
      = t(:'back')

    .pure-g
      .pure-u-1.pure-u-md-1-2
        %form.pure-form.pure-form-stacked.form-wrapped.margin-x{:method => 'POST', :action => '/user/mfa/key/register'}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %h1= t(:'userprofile/mfa/key/register/section_title')
          %p= t(:'userprofile/mfa/key/register/content')

          %label.sr-only{:for => 'keyname'}
            = t(:'userprofile/mfa/key/register/name')
          %input#keyname{:type => 'text', :name => 'keyname', :required => true, :placeholder => t(:'userprofile/mfa/key/register/name')}

          %button.pure-button.button.button-success{:type => 'submit'}
            %i.fa.fa-plus= ""
            = t(:'userprofile/mfa/key/register/submit')

      .pure-u-1.pure-u-md-1-2
        .form-wrapped.margin-x
          %h1= t(:'userprofile/mfa/key/existing/section_title')

          - if @keys.count.zero?
            .message.message-warning
              = t(:'userprofile/mfa/key/existing/empty')

          %ul.block-list.userprofile-mfa-key-list
            - @keys.each do |key|
              %li
                .userprofile-mfa-key-name
                  %strong
                    &= key.name

                .userprofile-mfa-key-meta
                  %ul.inline-list
                    %li
                      = t(:'userprofile/mfa/key/existing/item/content/created', ts: key.creation)

                .block-list-form.userprofile-mfa-key-actions
                  %form.inline-form{:method => 'POST', :action => '/user/mfa/key/remove'}
                    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                    %input{:type => 'hidden', :name => 'keyid', :value => key.id}
                    %button.pure-button.button.button-error{:type => 'submit'}
                      = t(:'userprofile/mfa/key/existing/item/actions/remove')
