%form.pure-form.pure-form-stacked.auth-form{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  - if @invite
    %input{:type => 'hidden', :name => 'invite', :value => @invite.token}

  - unless EARMMS.app_config['extended-signup-enabled']
    %p= t :'auth/signup/will_be_supporter'

  - if EARMMS.app_config['signups-mailing-list-only']
    %p= t(:'auth/signup/to_mailing_list', link: '/auth/signup/ml')

  %label.sr-only{:for => "signup-email"}= t :email_address
  %input#signup-email{:type => "email", :name => "email", :required => true, :placeholder => t(:email_address)}

  %label.sr-only{:for => "signup-password"}= t :'auth/signup/password'
  %input#signup-password{:type => "password", :name => "password", :required => true, :placeholder => t(:'auth/signup/password'), :'data-strength' => 'signup-password-strength'}
  %div#signup-password-strength.zxcvbn-result
    %div.zxcvbn-score-bar= ""
    %div.zxcvbn-score-text= ""
    %div.zxcvbn-warnings= ""
    %div.zxcvbn-suggestions= ""

  %label.sr-only{:for => "signup-password-repeat"}= t :'auth/signup/password_repeat'
  %input#signup-password-repeat{:type => "password", :name => "password-repeat", :required => true, :placeholder => t(:'auth/signup/password_repeat')}

  %button.pure-button.pure-button-primary{:type => "submit"}
    = t :'auth/signup/submit'

  %ul.auth-options.fa-ul
    %li
      %i.fa.fa-fw.fa-sign-in=""
      %a{:href => '/auth'}
        = t :'auth/signup/have_account_link'

.async-load{:'data-sources' => JSON.generate(['/static/pwstrength.bundle.js'])}
