%h1
  = t(:'dashboard/title_element')

- if @has_set_name
  %p
    = t(:'dashboard/hello', :user => @user_name)
- else
  .message.message-warning
    = t(:'dashboard/no_profile_info')

.pure-g
  .pure-u-1.pure-u-md-1-2
    .form-wrapped.pad-a-bit
      - if @mybranch && @branches[@mybranch]
        %h1= t(:'dashboard/meetings/own_branch/title', :branch => @branches[@mybranch][:name])

        - if @mymeetings.length > 0
          %ul.branch-admin-branch-upcoming-list
            - @mymeetings.each do |meeting|
              %li
                %a{:href => "/dashboard/meetings/#{meeting[:branch]}/#{meeting[:id]}"}
                  = t(:'dashboard/meetings/own_branch/meeting', :datetime => meeting[:datetime])

        - else
          %p= t(:'dashboard/meetings/none')

      - else
        %h1= t(:'dashboard/meetings/no_own_branch/title')
        %p= t(:'dashboard/meetings/no_own_branch/content')

  .pure-u-1.pure-u-md-1-2
    .form-wrapped.pad-a-bit
      %h1= t(:'dashboard/meetings/other_branches/title')

      - if @othermeetings.length > 0
        %ul.branch-admin-branch-upcoming-list
          - @othermeetings.each do |meeting|
            %li
              %a{:href => "/dashboard/meetings/#{meeting[:branch]}/#{meeting[:id]}"}
                = t(:'dashboard/meetings/other_branches/meeting', :branch => @branches[meeting[:branch]][:name], :datetime => meeting[:datetime])

      - else
        %p= t(:'dashboard/meetings/none')

- if @quick_links
  .form-wrapped.pad-a-bit
    %h1= @quick_links[:title]
    
    .ql--container{:class => "ql--container--style-#{@quick_links[:style]}"}
      - if @quick_links[:inject_styles]
        %style
          &= @quick_links[:inject_styles]

      - @quick_links[:links].each do |ldesc|
        .ql--link-container
          %a.ql--link.pure-button.button{:class => ldesc[:classes], :href => ldesc[:href], :style => ldesc[:style], :data => ldesc[:data]}
            %span.ql--icon
              - if ldesc[:icon][:visible]
                %i{:class => ldesc[:icon][:classes]}= ""

            %span.ql--text
              &= ldesc[:text]

- if @custom_content
  .form-wrapped.pad-a-bit
    %h1
      = @custom_content[:title]
      
    = @custom_content[:body]

  = theme_page_footer :'dashboard/index'
