.groupadmin-edit
  %h1= @title

  %a.pure-button.button{:href => "/group"}
    %i.fa.fa-chevron-left
    = t(:'back')

  - if EARMMS.app_config["group-allow-admin-to-add-by-uid"]
    %a.pure-button.button.button-primary#groupadmin-edit-action-addmember{:href => "/group/adduser/#{@group.id}"}
      %i.fa.fa-plus= ""
      = t(:'groupadmin/edit/actions/add')

  %a.pure-button.button#groupadmin-edit-action-massemail{:href => "/massemail?target=group:#{@group.id}"}
    %i.fa.fa-envelope-o= ""
    = t(:'groupadmin/edit/actions/massemail')

  .form-wrapped
    %h1= t(:'groupadmin/edit/members/title')
    - if @members.empty?
      .message.message-warning
        = t(:'groupadmin/edit/members/none')

    %ul.block-list
      - @members.each do |uid, member|
        %li.admin-group-member-item
          %strong
            &= member[:name]

          - if member[:admin]
            %span.badge
              %i.fa.fa-star= ""
              = t(:'groupadmin/edit/members/item/group_admin')

          - if member[:user].id == current_user.id
            %span.badge
              %i.fa.fa-user= ""
              = t(:'thats_you')

          .admin-group-member-item-info
            %ul.inline-list
              %li
                = succeed ':' do
                  = t(:'user_id')
                %span
                  &= member[:user].id

              %li
                = succeed ':' do
                  = t(:'groupadmin/edit/members/item/membership_status')
                %span
                  - if member[:membership_status]
                    &= t("membership_status/#{member[:membership_status]}".to_sym)
                  - else
                    &= t :unknown

              %li
                = succeed ':' do
                  = t(:'groupadmin/edit/members/item/branch')
                %span
                  - if member[:branch]
                    &= member[:branch][:name]
                  - else
                    &= t :unknown

          .admin-group-member-item-info
            %ul.inline-list
              %li
                = succeed ':' do
                  = t(:'groupadmin/edit/members/item/joined')
                %code
                  &= member[:creation].strftime("%Y-%m-%d %H:%M")

              %li
                = succeed ':' do
                  = t(:'groupadmin/edit/members/item/email')
                %code
                  &= member[:user].email

          - if settings.development? || has_role?("system:debugging")
            .admin-group-member-item-info
              %ul.inline-list
                %li Debugging info
                %li
                  = succeed ':' do
                    Group member ID
                  %span
                    &= member[:group_member_id]

          .block-list-form
            %form.inline-form{:method => 'POST'}
              %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
              %input{:type => 'hidden', :name => 'action', :value => 'remove'}
              %input{:type => 'hidden', :name => 'uid', :value => member[:user].id}
              %button.pure-button.button.button-error{:type => 'submit'}
                %i.fa.fa-times= ""
                = t(:'groupadmin/edit/members/item/actions/remove')

            %form.inline-form{:method => 'POST'}
              %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
              %input{:type => 'hidden', :name => 'action', :value => 'toggle-admin'}
              %input{:type => 'hidden', :name => 'uid', :value => member[:user].id}
              %button.pure-button.button{:type => 'submit', :class => member[:admin] ? 'button-warning' : 'button-primary'}
                - if member[:admin]
                  %i.fa.fa-arrow-down= ""
                  = t(:'groupadmin/edit/members/item/actions/demote')
                - else
                  %i.fa.fa-star= ""
                  = t(:'groupadmin/edit/members/item/actions/promote')
