%form.pure-form.pure-form-stacked.auth-form{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'validate', :value => '39'}

  %p
    = t(:'usergroups/join/content', :group => @group_h[:name])

  - unless @group_h[:agreement].nil? || @group_h[:agreement].empty?
    .message.message-warning
      &= t(:'usergroups/join/agreement/content')

    .margin-y
      .rich-text-container
        %p
          &= @group_h[:agreement]

    %label{:for => "agreement-confirm"}
      %input#confirm{:type => 'checkbox', :name => 'agreement-confirm', :checked => false, :required => true}
      = t(:'usergroups/join/agreement/confirm')
    
  %div{:style => 'height:1em'}= ""
    
  %button.pure-button.button.button-success{:type => 'submit'}
    %i.fa.fa-sign-in= ""
    = t(:'usergroups/join/submit')
    
  %a.pure-button.button.button-primary{:href => "/ugroups/join"}
    %i.fa.fa-chevron-left= ""
    = t(:'usergroups/join/cancel')
