.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title
    
    %a.pure-button.button{:href => '/system/debug'}
      %i.fa.fa-chevron-left= ""
      = t(:'back')
    
    %p= t(:'system/debugging/flashes/content')
