.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/system/debug/flashes'}
      %i.fa.fa-bullhorn= ""
      = t(:'system/debugging/flashes/title')

    .form-wrapped.debug-appinfo
      %h1= t(:'system/debugging/appinfo/title')

      %ul.block-list
        %li
          .debug-appinfo-key
            %strong
              = t(:'system/debugging/appinfo/version_const')
          .debug-appinfo-value
            %code
              &= EARMMS::VERSION.inspect

        %li
          .debug-appinfo-key
            %strong
              = t(:'system/debugging/appinfo/version')
          .debug-appinfo-value
            %code
              &= EARMMS.version.inspect

        %li
          .debug-appinfo-key
            %strong
              = t(:'system/debugging/appinfo/app_server')
          .debug-appinfo-value
            %code
              &= EARMMS::ServerUtils.app_server.inspect

    .form-wrapped.debug-session
      %h1= t(:'system/debugging/session/title')
      %ul.block-list
        - session.each do |k, v|
          %li
            .debug-session-key
              %strong
                &= k

            .debug-session-contents
              %code
                &= v

    .form-wrapped.debug-mutexes
      %h1= t(:'system/debugging/mutexes/title')

      - if @mutexes.empty?
        %p= t(:'system/debugging/mutexes/empty')

      %ul.block-list
        - @mutexes.each do |m|
          %li
            .debug-mutexes-meta
              %ul.inline-list
                %li
                  = succeed ': ' do
                    ID
                  %code
                    &= m[:id]
                %li
                  = succeed ': ' do
                    = t(:'system/debugging/mutexes/type')
                  %code
                    &= m[:type]

            .debug-mutexes-user
              %ul.inline-list
                %li
                  = succeed ': ' do
                    = t(:'system/debugging/mutexes/user')
                  - if has_role?("admin:user:edit")
                    %a{:href => "/admin/user/edit/#{m[:user][:id]}"}
                      %i.fa.fa-link= ""
                      &= m[:user][:name]
                  - else
                    %span
                      &= m[:user][:name]

                %li
                  = succeed ': ' do
                    UID
                  %code
                    &= m[:user][:id]

    %form.pure-form.pure-form-stacked.form-wrapped.debug-alerts{:method => 'POST', :action => '/system/debug/alert'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1= t(:'system/debugging/alerts/title')

      %label{:for => 'alert-sections'}
        = t(:'system/debugging/alerts/section/title')
      %select#alert-sections{:name => 'section'}
        %option{:value => 'membership'}
          = t(:'system/debugging/alerts/section/membership')
        %option{:value => 'system'}
          = t(:'system/debugging/alerts/section/system')

      %label{:for => 'alert-empty'}
        %input#alert-empty{:type => 'checkbox', :name => 'empty'}
        = t(:'system/debugging/alerts/generate_empty')

      %button.pure-button.button-primary{:type => "submit"}
        = t(:'system/debugging/alerts/submit')
