%form.pure-form.pure-form-stacked.auth-form{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'regen', :value => '1'}

  - if @codes.count.positive?
    %p
      = t(:'userprofile/mfa/recovery/show/content/new_codes/one')
    %p
      = t(:'userprofile/mfa/recovery/show/content/new_codes/two')

    %ul.mfa-recovery-codes
      - @codes.each do |t|
        %li
          %code.code-line
            &= t.token.split('').each_slice(4).to_a.map(&:join).join(' ')

    %a.pure-button.button{:href => '#', :onclick => 'window.print()'}
      %i.fa.fa-print= ""
      = t(:'userprofile/mfa/recovery/show/print')

  - else
    %p
      = t(:'userprofile/mfa/recovery/show/content/has_codes')

    %button.pure-button.button{:type => 'submit'}
      %i.fa.fa-list-alt= ""
      = t(:'userprofile/mfa/recovery/show/regenerate')

  %a.pure-button.button.button-primary{:href => '/user/mfa'}
    %i.fa.fa-chevron-left= ""
    = t(:'userprofile/mfa/recovery/show/back')
