.auth-header
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  
  color: $auth_header_foreground;
  background-color: $auth_header_background;
  border-bottom: 1px solid $auth_header_border_colour;
  font-size: $auth_header_font_size;
  
  .auth-header-list
  {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;

    & > li
    {
      display: inline-block;
      margin: 0;
      padding: 0;

      border-left: $auth_header_border;
      
      &:last-child
      {
        border-right: $auth_header_border;
      }
      
      .pure-menu-link
      {
        color: inherit;
        
        &:focus,
        &:hover
        {
          background-color: $auth_header_background;
          color: inherit;
        }
      }
      
      .navbar-link
      {
        &:focus,
        &:hover
        {
          background-color: $auth_header_background_focus;
        }
      }
    }
  }
}
