body
{
  background: $body_background;
  color: $body_foreground;
}

.body-container
{
  margin: 1em 1em 0 1em;

  a
  {
    &:not(.button):not(.pure-button):not(.page-sidebar-link):not(.navbar-link)
    {
      color: $body_link;
      border-bottom: 1px solid $body_foreground;
      text-decoration: none;

      &:hover, &:focus
      {
        color: $body_foreground;
      }
    }
  }
}
