.page-sidebar
{
  display: block;
  width: 90%;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;

  list-style: none outside none;

  background: $menu_background;
  color: $menu_foreground;

  .page-sidebar-item
  {
    list-style: none outside none;
    margin: 0;
    padding: .5em 1em;
    border-bottom: 1px solid #ccc;

    &:first-child
    {
      border-radius: 4px 4px 0 0;
    }

    &:last-child 
    {
      border-radius: 0 0 4px 4px;
      border-bottom: none;
    }

    &.page-sidebar-selected
    {
      font-weight: bold;
      background: $menu_selected_background;
      color: $menu_selected_foreground;
    }

    .page-sidebar-link
    {
      text-decoration: none;
      color: inherit !important;
    }
  }
}
