#global-announcements
{
  .global-announcement
  {
    display: block;
    width: 100%;

    background: $symbolic_success_background;
    color: $symbolic_success_foreground;
    border-bottom: 1px solid $symbolic_success_border;

    p
    {
      padding: 1em 0;
      margin: 0;
      text-align: center;
    }

    a
    {
      color: inherit;

      &:focus, &:hover
      {
        text-decoration: none;
        border-bottom: 1px solid $symbolic_success_foreground;
      }
    }
  }
}
