.navbar
{
  background: $navbar_background;
  color: $navbar_foreground;
  border-bottom: 1px solid $navbar_border;

  .navbar-bar
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (min-width: $responsive_width)
    {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .navbar-section
  {
    display: block;
    width: 100%;

    @media screen and (min-width: $responsive_width)
    {
      display: inline-block;
      width: auto;
    }
  }

  .navbar-list
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (min-width: $responsive_width)
    {
      flex-direction: row;
    }
  }

  .navbar-item,
  .navbar-link
  {
    width: 100%;

    @media screen and (min-width: $responsive_width)
    {
      width: auto;
    }

    .pure-menu-link
    {
      &:hover
      {
        background: $navbar_background;
        color: $navbar_foreground;
      }
    }
  }

  .navbar-link
  {
    &:hover
    {
      background: $navbar_hover_background !important;
      color: $navbar_hover_foreground !important;
    }
  }

  .navbar-item
  {
    &.pure-menu-selected
    {
      font-weight: bold;
      background: $navbar_selected_background;
      color: $navbar_selected_foreground;
    }
  }
}
