.ql--container
{
  &.ql--container--style-tiles
  {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;

    .ql--link-container
    {
      display: block;
      padding: $quick_links_tile_margin !important; 
    }

    .ql--link
    {
      display: block;
      position: relative;

      width: $quick_links_tile_width !important;
      height: $quick_links_tile_height !important;
      padding: $quick_links_tile_padding !important;
      border: $quick_links_tile_border !important;
      border-radius: $quick_links_tile_border_radius !important;
      text-shadow: $quick_links_tile_text_shadow;

      .ql--link-dark
      {
        text-shadow: $quick_links_tile_dark_text_shadow !important;
      }

      .ql--icon
      {
        position: absolute;
        top: $quick_links_tile_padding !important;
        left: $quick_links_tile_padding !important;

        i
        {
          font-size: $quick_links_tile_icon_size !important;
        }
      }

      .ql--text
      {
        display: block;
        position: absolute;

        text-align: left;
        width: 100%;

        left: $quick_links_tile_padding !important;
        right: $quick_links_tile_padding !important;
        bottom: $quick_links_tile_padding !important;
      }
    }
  }

  .ql--link:not(.button-primary):not(.button-success):not(.button-warning):not(.button-error)
  {
    color: #fff;
    
    &.ql--link-dark
    {
      color: $quick_links_tile_dark_colour;
    }
  }
}
