#membership-admin-search-results-sort
{
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;

  .membership-admin-search-results-sort-inner
  {
  }
}

.membership-admin-import-data-list
{
  .membership-admin-import-data-user
  {
    display: block;
    border-bottom: 1px solid #000;
    padding: .5em 0;
    margin: 0;
  }
}

.admin-group-members
{
  .admin-group-member-item
  {
    .admin-group-member-item-actions
    {
      margin: 0.5em 0 1em 0;
    }
  }
}
