.massemail-textarea
{
  .ck
  {
    height: 10em;
  }
}

.massemail-preview
{
  margin: 2em auto !important;
}

.massemail-prev-link
{
  border-bottom: none !important;

  .massemail-prev-subject
  {
    border-bottom: none;
  }
}