.usersettings-2fa-verify p
{
  text-align: center;
}

.usersettings-available-groups
{
  .usersettings-available-group-header
  {
    display: flex;
    align-items: center;

    span,
    strong,
    form
    {
      display: block;
    }

    form
    {
      margin-left: 0.5em;

      button
      {
        margin: 0 !important;
      }
    }
  }

  .usersettings-available-group-description
  {
    margin: .5em 0;
  }
}

.usersettings-tag
{
  text-align: center;
  font-size: 1.25em;
  overflow-wrap: break-word;
}