.ql--link-container.ql--link-admin
{
  position: relative;
  margin-top: $quick_links_tile_margin;
  border-top: 6px solid transparent;

  &.ql--link-admin--onlystatus-member
  {
    border-top-color: $symbolic_error_background;

    &:before
    {
      z-index: 999;
      position: absolute;
      top: $quick_links_tile_padding + $quick_links_tile_margin;
      right: $quick_links_tile_padding + $quick_links_tile_margin;

      color: #fff;
      font-family: "FontAwesome";
      font-size: $quick_links_tile_icon_size;
      content: "\f132";
    }
  }
}
