/* Utility classes */
.pad-a-bit
{
  padding: 1em;
}

.margin-x
{
  margin-left: $std_margin;
  margin-right: $std_margin;

  &-dbl
  {
    margin-left: $std_margin * 2;
    margin-right: $std_margin * 2;
  }
}

.margin-y
{
  margin-top: $std_margin;
  margin-bottom: $std_margin;

  &-dbl
  {
    margin-top: $std_margin * 2;
    margin-bottom: $std_margin * 2;
  }
}

.margin-xy
{
  @extend .margin-x;
  @extend .margin-y;

  &-dbl
  {
    @extend .margin-x-dbl;
    @extend .margin-y-dbl;
  }
}

.small
{
  font-size: 0.8em;
}

.dimmed
{
  color: $body_dimmed !important;
}

.inline-form
{
  display: inline-block;
}

.inline-list
{
  display: inline-block;
  list-style: none outside none;
  margin: 0;
  padding: 0;

  li
  {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;

    &:not(:last-child):after
    {
      content: ' \00b7 ';
    }
  }
}

.sr-only
{
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ use clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* all other browsers use clip with commas */
}

.block-list
{
  & > li
  {
    margin: 0 0 0.25em 0;

    .block-list-form
    {
      margin: 0.5em 0 1em 0;
      
      input:not([type = 'checkbox']),
      textarea,
      select,
      button,
      a.button
      {
        width: auto !important;
        margin: 0 !important;
      }
    }
  }
}

.stats-table
{
  max-width: 100%;
  overflow-x: auto;
}