%form.pure-form.pure-form-stacked.auth-form{:method => "POST"}
  %input{type: 'hidden', name: '_csrf', value: session[:csrf]}

  %p= t(:'auth/account_delete/confirm/content')

  - if @user.password_hash.nil?
    %p= t(:'auth/account_delete/confirm/content/no_pass')

  - else
    %p= t(:'auth/account_delete/confirm/content/has_pass')

    %label.sr-only{for: 'password'}= t(:'password')
    %input#password{name: 'password', type: 'password', required: true, placeholder: t(:'password')}

    .margin-y= ""

  %button.pure-button.button.button-error{type: "submit"}
    %i.fa.fa-trash= ""
    = t(:'auth/account_delete/confirm/submit')

  %a.pure-button.button{href: '/'}
    %i.fa.fa-chevron-left= ""
    = t(:'auth/account_delete/confirm/cancel')
