%nav.navbar.initial-setup-navbar
  .pure-menu.pure-menu-horizontal.navbar-bar
    .navbar-section
      %ul.pure-menu-list.navbar-list
        %li.pure-menu-item.navbar-item
          %span.pure-menu-link
            = t(:'initial_setup/title')
        %li.pure-menu-item.navbar-item
          %span.pure-menu-link
            &= EARMMS.version
