.is-prog-container
  - title_key = "initial_setup/#{@this_upgrade.mode || 'unknown'}/progress_title".to_sym
  - unless EARMMS.languages[current_language][title_key]
    - title_key = :"initial_setup/unknown/progress_title"
  %h1
    &= t title_key

  - steps = this_upgrade_steps()
  - statuses = steps.map{|g| g[:status]}
  - current_idx = statuses.find_index(@this_upgrade.status)
  %ul.is-prog-list
    - steps.each_index do |idx|
      %li
        .is-prog-step
          .is-prog-step-icon{:class => [(idx < current_idx && 'is-prog-step-complete'), (idx == current_idx && 'is-prog-step-current')]}
            - if idx < current_idx
              %i.fa.fa-check.fa-fw= ""
            - elsif idx == current_idx
              %i.fa.fa-chevron-right.fa-fw= ""
            - else
              %i.fa.fa-circle-o.fa-fw= ""

          .is-prog-step-friendly
            &= steps[idx][:friendly]
