.message.message-warning
  %div= t(:'membership/configuration/refresh/all')
  %div= t(:'membership/configuration/refresh/contact_sysadmin')

%form.pure-form.pure-form-stacked.auth-form{:method => 'POST', :action => '/admin/config/quick-links/release-lock'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %button.pure-button.button{:type => 'submit'}
    %i.fa.fa-unlock= ""
    = t(:'membership/configuration/quick_links/lock/normal_release')

%form.pure-form.pure-form-stacked.form-wrapped.auth-form{:method => 'POST', :action => '/admin/config/quick-links/toggle'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'enable', :value => @enabled_cfg ? '0' : '1'}
  %h1= t(:'membership/configuration/quick_links/visibility/section_title')

  %p= t(:'membership/configuration/quick_links/visibility/current', value: t("membership/configuration/quick_links/visibility/current/#{@enabled_cfg ? "enabled" : "disabled"}".to_sym))

  %button.pure-button.button{:type => 'submit', :class => [(@enabled_cfg ? "button-error" : "button-primary")]}
    %i.fa{:class => ["fa-#{@enabled_cfg ? 'toggle-on' : 'toggle-off'}"]}= ""
    = t(:'membership/configuration/quick_links/visibility/toggle', value: t("membership/configuration/quick_links/visibility/toggle/#{@enabled_cfg ? "disable" : "enable"}".to_sym))

- if @enabled_cfg
  .form-wrapped.auth-form
    %h1= t(:'membership/configuration/quick_links/preview/section_title')
    %p= t(:'membership/configuration/quick_links/preview/content/one')
    %p= t(:'membership/configuration/quick_links/preview/content/two')
    %p= t(:'membership/configuration/quick_links/preview/content/three')

    %div{:style => 'height:1em'}= ""

    .ql--container{:class => "ql--container--style-#{@preview[:style]}"}
      - if @preview[:inject_styles]
        %style
          &= @preview[:inject_styles]

      - count = 0
      %ul.inline-list
        %li P
        %li
          &= count

      - @preview[:links].each do |ldesc|
        .ql--link-container.ql--link-admin{:class => ldesc[:only_statuses]&.map{|x| "ql--link-admin--onlystatus-#{x}"}}
          %a.ql--link.pure-button.button{:class => ldesc[:classes], :href => "/admin/config/quick-links/edit/#{count}", :style => ldesc[:style], :data => ldesc[:data]}
            %span.ql--icon
              - if ldesc[:icon][:visible]
                %i{:class => ldesc[:icon][:classes]}= ""

            %span.ql--text
              &= ldesc[:text]

        - count += 1
        %ul.inline-list
          %li P
          %li
            &= count

    %div{:style => 'height:1em'}= ""

  %form.pure-form.pure-form-stacked.form-wrapped.auth-form{:method => 'POST', :action => '/admin/config/quick-links/create'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1= t(:'membership/configuration/quick_links/create/section_title')

    .pure-g
      .pure-u-1.pure-u-lg-1-2
        .margin-x
          %label{:for => 'create-btn-text'}= t(:'membership/configuration/quick_links/create/fields/text')
          %input#create-btn-text{:type => 'text', :name => 'text', :required => true, :placeholder => t(:'membership/configuration/quick_links/create/fields/text')}

          %label{:for => 'create-btn-link'}= t(:'membership/configuration/quick_links/create/fields/link')
          %input#create-btn-link{:type => 'text', :name => 'link', :required => true, :placeholder => t(:'membership/configuration/quick_links/create/fields/link')}

          .fieldswitch
            %label{:for => 'create-btn-colour-type'}= t(:'membership/configuration/quick_links/colour/title')
            %select#create-btn-colour-type.fieldswitch-select{:name => 'colour-type'}
              - %w[primary success warning error].each do |ct|
                %option{:value => ct}
                  = t(:'membership/configuration/quick_links/colour/type', :type => ct)
              %option{:value => 'custom'}
                = t(:'membership/configuration/quick_links/colour/custom')

            .fieldswitch-field{:'data-type' => 'custom'}
              %label{:for => 'create-btn-colour-custom'}= t(:'membership/configuration/quick_links/colour/custom')
              %input#create-btn-colour-custom{:name => 'colour', :type => 'text', :placeholder => t(:'membership/configuration/quick_links/colour/custom'), :value => '#00aa00'}

          %label{:for => 'create-btn-icon'}
            = t(:'membership/configuration/quick_links/create/fields/icon')
            = surround ' (', ') ' do
              = t(:'membership/configuration/quick_links/create/fields/icon/reference')
          %input#create-btn-icon{:type => 'text', :name => 'icon', :required => true, :placeholder => t(:'membership/configuration/quick_links/create/fields/icon')}

          %label{:for => 'create-btn-position'}= t(:'membership/configuration/quick_links/create/fields/position')
          %input#create-btn-position{:type => 'text', :name => 'position', :required => true, :placeholder => t(:'membership/configuration/quick_links/create/fields/position'), :inputmode => "numeric", :pattern => "[0-9]*"}

          %label{:for => 'create-only-members'}
            %input#create-only-members{:name => 'only-members', :type => 'checkbox', :checked => false}
            = t(:'membership/configuration/quick_links/create/fields/only_members')

          %div{:style => 'height:1em'}= ""

      .pure-u-1.pure-u-lg-1-2
        .margin-x
          .message.message-warning#create-btn-example-loading
            %i.fa.fa-fw.fa-spin.fa-spinner= ""
            = t(:'membership/configuration/quick_links/create/example/loading')

          %div{:style => 'text-align:center;width:100%;margin-bottom:1em'}
            %strong
              = t(:'membership/configuration/quick_links/create/example/content')

          %style#create-btn-example-style{:type => 'text/css'}= ""
          .ql--container{:class => ["ql--container--style-#{@attributes_parsed["style"]}"]}
            .ql--link-container
              %a.ql--link.pure-button.button#create-btn-example{:href => "#"}
                %span.ql--icon#create-btn-example-icon= ""
                %span.ql--text#create-btn-example-text= ""

    %button.pure-button.button.button-primary{:type => 'submit'}
      = t(:'membership/configuration/quick_links/create/submit')

.async-load{:'data-sources' => JSON.generate(['/static/admquicklinks.bundle.js'])}
