.form-wrapped
  %h1= t(:'initial_setup/upgrade/apply/title')
  %p= t(:'initial_setup/upgrade/apply/content/before_overview')

  %ul.block-list
    %li
      = t(:'initial_setup/upgrade/apply/overview/converted_keys', :count => @converted_keys)
    %li
      = t(:'initial_setup/upgrade/apply/overview/updated_keys', :rename => @rename_count, :delete => @delete_count, :default => @default_count)
    %li
      = t(:'initial_setup/upgrade/apply/overview/custom_fields', :count => @custom_fields)
    %li
      = t(:'initial_setup/upgrade/apply/overview/email_config', :email => @email_from, :host => @email_host)

  %p= t(:'initial_setup/upgrade/apply/content/after_overview')

  %form.pure-form.pure-form-stacked{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

    %p
      - code_display = @verify_code.split('').each_slice(3).to_a.map(&:join).join('-')
      = t(:'initial_setup/upgrade/apply/verification_code', :code => code_display)

    %label{:for => 'verify_code'}= t(:'initial_setup/upgrade/apply/verification_code_label')
    %input#verify_code{:type => 'text', :required => true, :name => 'verify', :placeholder => '12345678'}

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-arrow-right= ""
      = t(:'initial_setup/upgrade/apply/submit')
