.form-wrapped
  %h1= t(:'initial_setup/upgrade/change/verify/title')
  %p= t(:'initial_setup/upgrade/change/verify/preamble')

  %ul.initial-setup-upgrade-change-list
    - @changes.each do |change|
      %li.cl-item
        .cl-header
          %span.cl-type
            - if change[:type] == :add
              %i.fa.fa-magic= ""

            - elsif change[:type] == :remove
              %i.fa.fa-ban= ""

            - elsif change[:type] == :rename
              %i.fa.fa-clone= ""

            - elsif change[:type] == :modify
              %i.fa.fa-pencil-square-o= ""

            = t("initial_setup/common/change_type/#{change[:type].to_s}".to_sym)

          %span.cl-name
            - if change[:type] == :rename
              %strong.cl-name-old
                &= change[:old_key]

              to

              %strong.cl-name-new
                &= change[:new_key]

            - elsif change[:type] == :remove
              %strong.cl-name-old
                &= change[:old_key]

            - elsif change[:type] == :modify || change[:type] == :add
              %strong.cl-name-new
                &= change[:new_key]

          %span.cl-source
            = t("initial_setup/common/key_source/#{change[:source].to_s}".to_sym)

          .cl-data
          - if change[:type] == :add
            %ul.cl-change
              %li
                %span.cl-change-desc
                  = t(:'initial_setup/common/value/new')
                %code.cl-value
                  &= change[:new_value].inspect

          - elsif change[:type] == :remove
            %ul.cl-change
              %li
                %span.cl-change-desc
                  = t(:'initial_setup/common/value/old')
                %code.cl-value
                  &= change[:old_value].inspect

          - elsif change[:type] == :modify
            %ul.cl-change
              %li
                %span.cl-change-desc
                  = t(:'initial_setup/common/value/old')
                %code.cl-value
                  &= change[:old_value].inspect
              %li
                %span.cl-change-desc
                  = t(:'initial_setup/common/value/new')
                %code.cl-value
                  &= change[:new_value].inspect

          - elsif change[:type] == :rename
            - if change[:old_value].nil?
              %ul.cl-change
                %li
                  %span.cl-change-desc
                    = t(:'initial_setup/common/value/same')
                  %code.cl-value
                    &= change[:new_value].inspect

            - else
              %ul.cl-change
                %li
                  %span.cl-change-desc
                    = t(:'initial_setup/common/value/old')
                  %code.cl-value
                    &= change[:old_value].inspect
                %li
                  %span.cl-change-desc
                    = t(:'initial_setup/common/value/new')
                  %code.cl-value
                    &= change[:new_value].inspect

  %p
    = t(:'initial_setup/upgrade/change/verify/next_step')

  %form.pure-form.pure-form-stacked{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-arrow-right= ""
      = t(:'initial_setup/upgrade/change/verify/submit')
