- if @alerts == nil || @alerts.length == 0
  %p= t(:'alerts/none')

- else
  - @alerts.each_key do |typekey|
    %h2= @alerts[typekey][:name]
    %ul.admin-alert-list{:'data-type' => @alerts[typekey][:code]}
      - @alerts[typekey][:alerts].each do |alert|
        %li
          = haml :'alerts/alert', :locals => {:alert => alert}, :layout => false
