.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t(:'userprofile/title')

    - if @global_email_needs_to_verify
      %form.pure-form.pure-form-stacked.form-wrapped{:method => 'GET', :action => '/user/email-verify'}
        %h1= t(:'userprofile/email_verify/section_title')
        %p= t(:'userprofile/email_verify/content')

        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-envelope-o= ""
          = t(:'userprofile/email_verify/submit')

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1= t(:'userprofile/edit/title')
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      - @fields.each do |f|
        %label{:for => "profile-#{f[:name]}"}
          = f[:friendly]
          - if f[:required]
            %span.badge.field-required
              = t :'field_required'

        - if f[:type] == "textarea"
          %textarea{:id => "profile-#{f[:name]}", :name => f[:name], :placeholder => f[:friendly], :required => f[:required], :'data-display-only-if' => (f.key?(:display_only_if) ? JSON.generate(f[:display_only_if]) : nil)}
            &= @values[f[:name]]

        - elsif f[:type] == "select"
          %select{:id => "profile-#{f[:name]}", :name => f[:name], :required => f[:required], :'data-display-only-if' => (f.key?(:display_only_if) ? JSON.generate(f[:display_only_if]) : nil)}
            - f[:select_options].each do |opt|
              %option{:value => opt[:name], :selected => @values[f[:name]] == opt[:name]}
                &= opt[:friendly]

        - elsif f[:type] == "bool"
          %select{:id => "profile-#{f[:name]}", :name => f[:name], :required => f[:required], :'data-display-only-if' => (f.key?(:display_only_if) ? JSON.generate(f[:display_only_if]) : nil)}
            %option{:value => 'true', :selected => @values[f[:name]] == 'true'} Yes
            %option{:value => 'false', :selected => @values[f[:name]] == 'false'} No

        - else
          %input{:id => "profile-#{f[:name]}", :name => f[:name], :placeholder => f[:friendly], :required => f[:required], :value => @values[f[:name]], :type => f[:type], :'data-display-only-if' => (f.key?(:display_only_if) ? JSON.generate(f[:display_only_if]) : nil)}

      %button.pure-button.pure-button-primary{:type => "submit"}
        &= t :'userprofile/edit/submit'
