- if @only_member && !@user_is_member
  %p= t("#{@tl_namespace}/content_not_member".to_sym)

- else
  %p= t("#{@tl_namespace}/content".to_sym)
  %p.usersettings-tag
    %code= t("#{@tl_namespace}/value".to_sym, :usertag => @usertag)

- if settings.development?
  - unless @user == @usertaguser
    .message.message-warning
      %strong Development warning:
      Something is wrong with tag generation!
      %code @user != @usertaguser