%form.pure-form.pure-form-stacked.auth-form{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

  %p= t(:'auth/signup/mailing_list/content/one')

  %label.sr-only{for: 'signup-name'}= t :full_name
  %input#signup-name{type: 'text', name: 'name', required: true, placeholder: t(:full_name)}

  %label.sr-only{for: "signup-email"}= t :email_address
  %input#signup-email{type: "email", name: "email", required: true, placeholder: t(:email_address)}

  %p= t(:'auth/signup/mailing_list/content/two', default_branch: @default_branch[:name])

  %label.sr-only{for: 'signup-branch'}= t :branch
  %select#signup-branch{name: 'branch', required: true}
    - @branches.each do |b|
      %option{:value => b[:id]}
        &= b[:name]

  .margin-y= ""

  %button.pure-button.pure-button-primary{type: "submit"}
    %i.fa.fa-check= ""
    = t :'auth/signup/mailing_list/submit'

  %ul.auth-options.fa-ul
    %li
      %i.fa.fa-fw.fa-id-card-o=""
      %a{:href => '/auth/signup'}
        = t :'auth/signup/mailing_list/account_signup_link'

    %li
      %i.fa.fa-fw.fa-sign-in=""
      %a{:href => '/auth'}
        = t :'auth/signup/have_account_link'
