.auth-form
  %p= t(:'auth/signup/mailing_list/success/content/one')
  %p= t(:'auth/signup/mailing_list/success/content/two')
  %p= t(:'auth/signup/mailing_list/success/content/three')

  %a.pure-button.button.button-primary{href: '/'}
    %i.fa.fa-home= ""
    = t(:'auth/signup/mailing_list/success/continue')
