.error-page.error-page-400
  .pure-g
    .pure-u-1.pure-u-md-1-4= ""
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.pad-a-bit
        %h1= t :'errors/bad_request/title'
        %p= t :'errors/bad_request/text'
