.error-page.error-page-maintenance
  .pure-g
    .pure-u-1.pure-u-md-1-4= ""
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.pad-a-bit
        %h1= t :'errors/maintenance/title'
        %p= t :'errors/maintenance/text', :site_name => site_name

  .body-footer
    - unless logged_in?
      %a{:href => "/auth"}= t(:'auth/login/admin_login')
