.error-page.error-page-503
  .pure-g
    .pure-u-1.pure-u-md-1-4= ""
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.pad-a-bit
        %h1= t :'errors/unavailable/title'
        %p= t :'errors/unavailable/text'

  .body-footer
    - unless logged_in?
      %a{:href => "/auth"}= t(:'auth/login/admin_login')
