.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button.button-primary{:href => @new_uri}
      %i.fa.fa-plus
      = t(:'system/work_queue/queue/title')

    .form-wrapped
      %h1= t(:'system/work_queue/filters/section_title')

      %form.inline-form{:method => 'GET'}
        %input{:type => 'hidden',  :name => 'status', :value => 'queued'}
        %button.pure-button{:type => 'submit'}
          %i.fa.fa-list
          = t(:'system/work_queue/filters/queued')

      %form.inline-form{:method => 'GET'}
        %input{:type => 'hidden', :name => 'status', :value => 'running'}
        %button.pure-button{:type => 'submit'}
          %i.fa.fa-play
          = t(:'system/work_queue/filters/running')

      %form.inline-form{:method => 'GET'}
        %input{:type => 'hidden', :name => 'status', :value => 'finished'}
        %button.pure-button{:type => 'submit'}
          %i.fa.fa-check
          = t(:'system/work_queue/filters/finished')

    .form-wrapped
      %h1
        = t(:'system/work_queue/list/section_title', :status => @status)

      = haml :'helpers/pagination', layout: false, locals: {current_page: @current_page, total_pages: @total_pages, prev_page: "?page=#{@current_page-1}&status=#{status}", next_page: "?page=#{@current_page+1}&status=#{status}"}
        
      %ul.block-list
        - @tasks.each do |m|
          %li
            .system-work-queue-entry
              .system-work-queue-meta
                %ul.inline-list
                  %li
                    = succeed ': ' do
                      = t(:'system/work_queue/list/item/job_id')
                    %code
                      &= m[:id]
                      
                  %li
                    = succeed ': ' do
                      = t(:'system/work_queue/list/item/task')
                    %code
                      &= m[:task]

              .system-work-queue-times
                %ul.inline-list
                  %li
                    = succeed ': ' do
                      = t(:'system/work_queue/list/item/run_time')
                    %time.system-work-queue-scheduled{:datetime => m[:run_at].iso8601, :title => m[:run_at].iso8601}
                      &= pretty_time_ago m[:run_at]

                  %li
                    = succeed ': ' do
                      = t(:'system/work_queue/list/item/created')
                    %time.system-work-queue-created{:datetime => m[:created].iso8601, :title => m[:created].iso8601}
                      &= pretty_time_ago m[:created]

                  - if ['running', 'finished'].include? m[:status]
                    %li
                      = succeed ': ' do
                        = t(:'system/work_queue/list/item/started')
                      %time.system-work-queue-created{:datetime => m[:started].iso8601, :title => m[:started].iso8601}
                        &= pretty_time_ago m[:started]

                  - if m[:status] == 'finished'
                    %li
                      = succeed ': ' do
                        = t(:'system/work_queue/list/item/finished')
                      %time.system-work-queue-created{:datetime => m[:finished].iso8601, :title => m[:finished].iso8601}
                        &= pretty_time_ago m[:finished]

              - if m[:status] == 'finished'
                .block-list-form
                  %a.pure-button.button{:href => m[:log_uri]}
                    = t(:'system/work_queue/list/item/view_log') 

      = haml :'helpers/pagination', layout: false, locals: {current_page: @current_page, total_pages: @total_pages, prev_page: "?page=#{@current_page-1}&status=#{status}", next_page: "?page=#{@current_page+1}&status=#{status}"}
