.form-wrapped
  %h1= t(:'massemail/saved_draft/title')

  %p
    = succeed ': ' do
      = t(:'massemail/saved_draft/content', :email_id => @email.id)
    %span
      &= @subject
  
  %a.pure-button.button.button-primary{:href => "/massemail/view/#{@email.id}"}
    %i.fa.fa-file-o= ""
    = t(:'massemail/saved_draft/view')
  
  %a.pure-button.button{:href => '/massemail'}
    %i.fa.fa-chevron-left= ""
    = t(:'massemail/saved_draft/continue')
