%form.pure-form.pure-form-stacked.auth-form{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

  %p= t :'auth/reset_password/content'

  %label.sr-only{:for => "reset-email"}= t :email_address
  %input#reset-email{:type => "email", :name => "email", :required => true, :placeholder => t(:email_address), :autofocus => true}

  %button.pure-button.button.button-primary{:type => "submit"}
    %i.fa.fa-envelope-o= ""
    = t :'auth/reset_password/submit'

  %ul.auth-options.fa-ul
    %li
      %i.fa.fa-fw.fa-sign-in= ""
      %a{href: '/auth'}
        = t :'auth/login/title'

    %li
      %i.fa.fa-fw.fa-user-plus= ""
      %a{href: '/auth/signup'}
        = t :'auth/signup/title'
