%form.pure-form.pure-form-stacked.auth-form{method: "POST"}
  %input{type: 'hidden', name: '_csrf', value: session[:csrf]}

  %p= t :'auth/reset_password/do/content'

  %label.sr-only{for: "reset-password"}
    = t :'auth/reset_password/do/password'
  %input#reset-password{type: "password", name: "password", required: true, placeholder: t(:'auth/reset_password/do/password'), autocomplete: 'new-password', :'data-strength' => 'reset-password-strength'}
  %div#reset-password-strength.zxcvbn-result
    %div.zxcvbn-score-bar= ""
    %div.zxcvbn-score-text= ""
    %div.zxcvbn-warnings= ""
    %div.zxcvbn-suggestions= ""

  %label.sr-only{for: "reset-password-repeat"}
    = t :'auth/reset_password/do/password_repeat'
  %input#reset-password-repeat{type: "password", name: "password-repeat", required: true, placeholder: t(:'auth/reset_password/do/password_repeat'), autocomplete: 'new-password'}

  %button.pure-button.pure-button-primary{type: "submit"}
    = t :'auth/reset_password/do/submit'

.async-load{:'data-sources' => JSON.generate(['/static/pwstrength.bundle.js'])}
