.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    - if @membership_info 
      - if @status == "member" || (@pending_status ? @pending_status[:to] == 'member' : false)
        .form-wrapped
          %h1= t(:'userprofile/membership/membership_info/title')        
          %p= t(:'userprofile/membership/membership_info/view_content')

          %a.pure-button.button.button-primary{:href => '/user/membership/membership-info'}
            %i.fa.fa-file-text-o= ""
            = t(:'userprofile/membership/membership_info/view')

    .form-wrapped
      %h1= t(:'userprofile/membership/change_status/title')

      - if %w[member supporter].include?(@status)
        %p
          = succeed ': ' do
            = t(:'userprofile/membership/change_status/current_status')
          = succeed '.' do
            = t("membership_status/#{@status}".to_sym)

        - if @pending_status
          %p
            = t(:'userprofile/membership/change_status/pending_request', :pending => @pending_status)

        - else
          %form.pure-form.pure-form-stacked{:method => 'POST', :action => '/user/membership/change-status'}
            %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

            - if @status == "member"
              %p
                = t(:'userprofile/membership/change_status/request_supporter')

            - else
              - if @kaupapa_prompt
                %p
                  = @kaupapa_prompt

                %p
                  %label{:for => 'kaupapa-agree'}
                    %input#kaupapa-agree{:type => 'checkbox', :name => 'kaupapa-agree', :required => true}
                    = t(:'userprofile/membership/change_status/kaupapa_agree')

            %button.pure-button.button-primary{:type => 'submit'}
              - to_status = (@status == "member" ? "supporter" : "member")
              = t(:'userprofile/membership/change_status/submit', :to_status => to_status)

      - else
        %p
          = t(:'userprofile/membership/change_status/invalid_status', :uid => @user.id)

    .form-wrapped
      %h1= t(:'userprofile/membership/change_branch/title')

      - if @branch
        %p
          = succeed ': ' do
            = t(:'userprofile/membership/change_branch/current_branch')
          = succeed '.' do
            &= @branch_name

        - if @pending_branch
          %p
            = t(:'userprofile/membership/change_branch/pending_request', :pending => @pending_branch)

            
        - elsif @branches.count == 1 && (@branch && @branches[@branch.id][:id]== @branch.id)
          %p
            = t(:'userprofile/membership/change_branch/only_one')

        - else
          %form.pure-form.pure-form-stacked{:method => 'POST', :action => '/user/membership/change-branch'}
            %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

            %label{:for => 'branch'}
              = succeed ':' do
                = t(:'userprofile/membership/change_branch/select_branch')
  
            %div{:style => 'height:0.5rem'}= ""
                
            %select#branch{:name => 'branch'}
              - @branches.each do |bid, b|
                %option{:value => b[:id], :disabled => @branch && @branch.id == b[:id]}
                  &= b[:name]

            %button.pure-button.pure-button-primary{:type => "submit"}
              = t(:'userprofile/membership/change_branch/submit')

      - else
        %p
          = t(:'userprofile/membership/change_branch/invalid_branch', :uid => @user.id)

    = theme_page_footer :'user_settings/membership/index'
