.user-membership-info.form-wrapped
  = @membership_info

  %a.pure-button.button.button-primary{:href => '/user/membership'}
    %i.fa.fa-chevron-left= ""
    = t(:'userprofile/membership/membership_info/done')
      
= theme_page_footer :'user_settings/membership/membership_info'
