.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/system/config/refresh'}
      %i.fa.fa-refresh= ""
      = t(:'system/configuration/refresh/title')
      
    - if @deprecated.count.positive?
      .message.message-warning
        = succeed ' ' do
          = t(:'system/configuration/list/deprecated_one_or_more')

        %span.badge
          %i.fa.fa-exclamation-circle= ""
          = t(:'system/configuration/edit/deprecated_badge', :dep_in => EARMMS::VERSION)

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => '/system/config/edit'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1= t(:'system/configuration/add/section_title')

      %label{:for => 'add_key'}
        = t(:'system/configuration/add/key')
      %input#add_key{:type => 'text', :name => 'key', :required => true, :placeholder => t(:'system/configuration/add/key')}
      %button.pure-button.button-success{:type => 'submit'}= t(:'system/configuration/add/submit')

    .form-wrapped
      %h1= t(:'system/configuration/list/section_title')

      %ul.block-list
        - @configentries.each do |c|
          %li
            .system-config-data
              %ul.inline-list
                %li
                  %strong
                    &= c.key

                %li
                  = succeed ': ' do
                    = t(:'system/configuration/type/title')

                  &= c.type

                - if @deprecated[c.key]
                  %li
                    %span.badge
                      %i.fa.fa-exclamation-circle= ""
                      = t(:'system/configuration/edit/deprecated_badge', :dep_in => @deprecated[c.key][:in])

              .system-config-value
                %code
                  - if c.value.nil?
                    nil
                  - elsif c.type == 'text'
                    &= c.value.inspect
                  - else
                    &= c.value

            .block-list-form
              %form.inline-form{:method => "POST", :action => '/system/config/edit'}
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => "hidden", :name => "key", :value => c.key}
                %button.pure-button{:type => 'submit'}
                  %i.fa.fa-pencil= ''
                  = t(:'system/configuration/list/item/actions/edit')

