.form-wrapped
  %p= t(:'auth/email_verify/success/content')

  - if logged_in?
    %a.pure-button.button.button-primary{href: '/dashboard'}
      %i.fa.fa-home= ""
      = t(:'auth/email_verify/success/continue/dashboard')

  - else
    %a.pure-button.button.button-primary{href: '/auth'}
      %i.fa.fa-sign-in= ""
      = t(:'auth/email_verify/success/continue/login')
