.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => "/admin/user/edit/#{@user.id}"}
      %i.fa.fa-chevron-left
      = t :back

    - if @attendance.empty?
      .message.message-warning
        = t :'membership/user/attendance/none'

    - else
      %form.inline-form{:method => 'POST', :action => "/admin/user/attendance/#{@user.id}/export"}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-envelope-o= ""
          = t(:'membership/user/attendance/actions/export')

      %ul.membership-admin-attendance-list
        - @attendance.each do |entry|
          %li
            .membership-admin-attendance-branch
              %strong
                = succeed ':' do
                  = t(:'membership/user/attendance/item/branch')
              %span
                &= entry[:branch][:name]
                = surround '(', ')' do
                  &= "ID #{entry[:branch][:id]}"

            .membership-admin-attendance-datetime
              %strong
                = succeed ':' do
                  = t(:'membership/user/attendance/item/time')
              %time{:datetime => entry[:datetime].iso8601}
                &= entry[:datetime].strftime("%A, %-d %B %Y at %I:%M %P")
        
            .membership-admin-attendance-status
              %strong
                = succeed ':' do
                  = t(:'membership/user/attendance/item/status')
              %span
                = entry[:status][:friendly]

            - if has_role?("branch:#{entry[:branch][:id]}:meeting")
              .membership-admin-attendance-jumptomeeting
                %i.fa.fa-link= ""
                %a{:href => "/branch/meetings/#{entry[:branch][:id]}/#{entry[:meetingid]}"}
                  = t(:'membership/user/attendance/item/jumptomeeting')
                
      = haml :'helpers/pagination', layout: false, locals: {current_page: @current_page, total_pages: @total_pages, prev_page: "?page=#{@current_page-1}", next_page: "?page=#{@current_page+1}"}
