.form-wrapped
  %h1= t(:'initial_setup/newinstall/apply/title')
  %p= t(:'initial_setup/newinstall/apply/parse/preamble')
  %p= t(:'initial_setup/newinstall/apply/parse/list_below')

  - if @has_warnings
    .message.message-error
      %p= t(:'initial_setup/newinstall/apply/parse/warning/content')

      - if @default_warnings.count.positive?
        %p
          = t(:'initial_setup/new_install/apply/parse/warning/default')
          = t(:'earmms/report_this_as_bug')

  - else
    .message.message-success
      = t(:'initial_setup/newinstall/apply/parse/success')

  %ul.block-list
    - @output.each do |v|
      %li
        .y-margin-dbl
          - if v[:warnings].count.zero?
            %i.fa.fa-check= ""
          - else
            %i.fa.fa-warning= ""

          %code.code-line
            &= v[:key]

          %span.source
            = t("initial_setup/common/key_source/#{v[:source].to_s}".to_sym)

          - if v[:warnings].count.positive?
            %ul.block-list
              - v[:warnings].each do |warning|
                %li
                  .y-margin-large
                    %code.code-line
                      &= warning

  - if @has_warnings
    .message.message-error
      %p= t(:'initial_setup/newinstall/apply/warning_before_continue')

  %p= t(:'initial_setup/newinstall/apply/continuing_is_permanent')

  %form.pure-form.pure-form-stacked{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

    %p
      - code_display = @verify_code.split('').each_slice(3).to_a.map(&:join).join('-')
      = t(:'initial_setup/newinstall/apply/verification_code', :code => code_display)

    %label{:for => 'verify_code'}= t(:'initial_setup/newinstall/apply/verification_code_label')
    %input#verify_code{:type => 'text', :required => true, :name => 'verify', :placeholder => '123456789'}

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-arrow-right= ""
      = t(:'initial_setup/newinstall/apply/submit')
