%form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %h1= t(:'initial_setup/newinstall/create_branch/title')
  %p= t(:'initial_setup/newinstall/create_branch/content')

  %label{:for => 'branch_name'}= t(:'initial_setup/newinstall/create_branch/branch_name')
  %input#branch_name{:type => 'text', :name => 'branch_name', :required => true, :value => 'Member without a branch'}= ""

  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-arrow-right= ""
    = t(:'continue')
