%form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %h1= t(:'initial_setup/newinstall/basecfg/title')
  %p= t(:'initial_setup/newinstall/basecfg/content')

  %label{:for => 'site_name'}= t(:'initial_setup/newinstall/basecfg/site_name')
  %input#site_name{:type => 'text', :name => 'site_name', :required => true, :value => @n_site_name}= ""

  %label{:for => 'org_name'}= t(:'initial_setup/newinstall/basecfg/org_name')
  %input#org_name{:type => 'text', :name => 'org_name', :required => true, :value => @n_org_name}= ""

  %label{:for => 'base_url'}= t(:'initial_setup/newinstall/basecfg/base_url')
  %input#base_url{:type => 'text', :name => 'base_url', :required => true, :value => @n_base_url}= ""

  %h3= t(:'initial_setup/newinstall/basecfg/email_section_title')
  %p= t(:'initial_setup/newinstall/basecfg/email_content')

  %label{:for => 'email_from'}= t(:'initial_setup/newinstall/basecfg/email_from')
  %input#email_from{:type => 'text', :name => 'email_from', :required => true, :value => @n_email_from}= ""

  .pure-g
    .pure-u-1.pure-u-md-1-2
      %label{:for => 'smtp_host'}= t(:'initial_setup/newinstall/basecfg/smtp_host')
      %input#smtp_host{:type => 'text', :name => 'smtp_host', :required => true, :style => 'width:95%', :value => 'smtp.sendgrid.net'}= ""
    .pure-u-1.pure-u-md-1-2
      %label{:for => 'smtp_port'}= t(:'initial_setup/newinstall/basecfg/smtp_port')
      %input#smtp_port{:type => 'number', :name => 'smtp_port', :required => true, :value => '587'}= ""

  .pure-g
    .pure-u-1.pure-u-md-1-3
      %label{:for => 'smtp_sec'}= t(:'initial_setup/newinstall/basecfg/smtp_sec')
      %select#smtp_sec{:name => 'smtp_sec', :style => 'width:95%'}
        %option{:value => 'none'}= t(:'initial_setup/newinstall/basecfg/smtp_sec/none')
        %option{:value => 'starttls', :selected => true}= t(:'initial_setup/newinstall/basecfg/smtp_sec/starttls')
        %option{:value => 'ssl'}= t(:'initial_setup/newinstall/basecfg/smtp_sec/ssl')
        %option{:value => 'tls'}= t(:'initial_setup/newinstall/basecfg/smtp_sec/tls')

    .pure-u-1.pure-u-md-1-3
      %label{:for => 'smtp_auth'}= t(:'initial_setup/newinstall/basecfg/smtp_auth')
      %input#smtp_auth{:type => 'text', :name => 'smtp_auth', :required => true, :value => 'plain', :style => 'width:95%'}= ""

    .pure-u-1.pure-u-md-1-3
      %label{:for => 'smtp_verify'}= t(:'initial_setup/newinstall/basecfg/smtp_verify')
      %select#smtp_verify{:name => 'smtp_verify'}
        %option{:value => 'none'}= t(:'initial_setup/newinstall/basecfg/smtp_verify/none')
        %option{:value => 'peer', :selected => true}= t(:'initial_setup/newinstall/basecfg/smtp_verify/peer')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      %label{:for => 'smtp_user'}= t(:'initial_setup/newinstall/basecfg/smtp_user')
      %input#smtp_user{:type => 'text', :name => 'smtp_user', :required => true, :style => 'width:95%', :value => 'apikey'}= ""
    .pure-u-1.pure-u-md-1-2
      %label{:for => 'smtp_pass'}= t(:'initial_setup/newinstall/basecfg/smtp_pass')
      %input#smtp_pass{:type => 'password', :name => 'smtp_pass', :required => true}= ""

  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-arrow-right= ""
    = t(:'continue')
