%form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %h1= t(:'initial_setup/newinstall/meeting_reminders/title')
  %p= t(:'initial_setup/newinstall/meeting_reminders/content')

  %label{:for => 'enabled'}= t(:'initial_setup/newinstall/meeting_reminders/enable')
  %select#enabled{:name => 'enabled'}
    %option{:value => '0'}= t(:'initial_setup/newinstall/meeting_reminders/enable/disabled')
    %option{:value => '1'}= t(:'initial_setup/newinstall/meeting_reminders/enable/enabled')

  - displayonlyif = JSON.generate([{'field' => 'enabled', 'values' => ['1']}])
  %label{:for => 'datetime'}= t(:'initial_setup/newinstall/meeting_reminders/datetime')
  %input#datetime{:type => 'text', :name => 'datetime', :value => EARMMS::APP_CONFIG_ENTRIES["worker-meeting-reminder-next"][:default], :'data-display-only-if' => displayonlyif}= ""

  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-arrow-right= ""
    = t(:'continue')
