%form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %h1= t(:'initial_setup/newinstall/verify/title')
  %p= t(:'initial_setup/newinstall/verify/content')

  %ul
    %li
      %strong
        &= t(:'initial_setup/newinstall/verify/list/config_entries')
      %ul.is-change-list
        - @configs.each do |e|
          %li.cl-item
            .cl-header
              %span.cl-type
                %i.fa.fa-magic= ""
                &= t("initial_setup/common/value/#{e[:change]}".to_sym)

              %span.cl-name
                %strong.cl-name-new
                  &= e[:key]

              %span.cl-source
                &= t("initial_setup/common/key_source/#{e[:source]}".to_sym)

            .cl-data
              %ul.cl-change
                %li
                  %span.cl-change-desc
                    &= t("initial_setup/common/value/#{e[:change]}".to_sym)
                  %code.cl-value
                    &= e[:value].inspect

    %li
      %strong
        &= t(:'initial_setup/newinstall/verify/list/branch')
      %ul
        - if @data['first-branch']['create']
          %li
            %strong
              &= t(:'initial_setup/newinstall/verify/list/branch/create')
            %span
              &= @data['first-branch']['name']
        - else
          %li
            &= t(:'initial_setup/newinstall/verify/list/branch/no_create')

    %li
      %strong
        &= t(:'initial_setup/newinstall/verify/list/tasks')
      %ul
        - @data['job-queue'].each do |job|
          %li
            %strong
              &= t(:'initial_setup/newinstall/verify/list/tasks/name')
            %span
              &= job['name']
            %ul
              %li
                %strong
                  &= t(:'initial_setup/newinstall/verify/list/tasks/time')
                %span
                  &= job['at']

    %li
      %strong
        &= t(:'initial_setup/newinstall/verify/list/roles')
      %ul
        - @roles.each do |ru|
          %li
            %span
              &= t(:'initial_setup/newinstall/verify/list/roles/for_user', :uid => ru[:uid], :email => ru[:email])
            %ul
              - if ru[:add].count.positive?
                %li
                  &= t(:'initial_setup/newinstall/verify/list/roles/add')
                  %ul
                    - ru[:add].each do |role|
                      %li
                        %code.code-line
                          &= role
              - if ru[:remove].count.positive?
                %li
                  &= t(:'initial_setup/newinstall/verify/list/roles/remove')
                  %ul
                    - ru[:remove].each do |role|
                      %li
                        %code.code-line
                          &= role

  %div{:style => 'height: 1em'}= ""
  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-arrow-right= ""
    = t(:'continue')
