.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => "/admin/group/edit/#{@group.id}"}
      %i.fa.fa-chevron-left= ""
      = t :back

    %a.pure-button.button.button-primary{:href => "/admin/group/members/add/#{@group.id}"}
      %i.fa.fa-plus= ""
      = t(:'membership/groups/members/actions/add')
      
    - if @members.empty?
      .message.message-warning
        = t(:'membership/groups/members/none')

    %ul.block-list.admin-group-members
      - @members.each do |uid, member|
        %li.admin-group-member-item
          %a{:href => "/admin/user/edit/#{member[:user].id}"}
            %i.fa.fa-link= ""
            %strong
              &= member[:name]

          - if member[:admin]
            %span.badge
              %i.fa.fa-star= ""
              = t(:'membership/groups/members/list/item/group_admin')
            
          .admin-group-member-item-info
            %ul.inline-list
              %li
                = succeed ':' do
                  = t(:'membership/groups/members/list/item/joined')
                %code
                  &= member[:user].creation.strftime("%Y-%m-%d %H:%M")

              %li
                = succeed ':' do
                  = t(:'user_id')
                %span
                  &= member[:user].id

              %li
                = succeed ':' do
                  = t(:'membership/groups/members/list/item/membership_status')
                - if member[:membership_status]
                  &= t("membership_status/#{member[:membership_status]}".to_sym)
                - else
                  &= t :unknown

              %li
                = succeed ':' do
                  = t(:'membership/groups/members/list/item/branch')
                - if member[:branch]
                  %a{:href => "/admin/branch/edit/#{member[:branch][:id]}"}
                    &= member[:branch][:name]
                - else
                  &= t :unknown

          - if settings.development? || has_role?("system:debugging")
            .admin-group-member-item-info
              %ul.inline-list
                %li Debugging info
                %li
                  = succeed ':' do
                    Group member ID
                  %span
                    &= member[:group_member_id]

          .block-list-form.admin-group-member-item-actions
            - if has_role?('admin:group:modify_member')
              %form.inline-form{:method => 'POST'}
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => 'hidden', :name => 'action', :value => 'remove'}
                %input{:type => 'hidden', :name => 'uid', :value => member[:user].id}
                %button.pure-button.button.button-error{:type => 'submit'}
                  %i.fa.fa-times= ""
                  = t(:'membership/groups/members/list/item/actions/remove')

              %form.inline-form{:method => 'POST'}
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => 'hidden', :name => 'action', :value => 'toggle-admin'}
                %input{:type => 'hidden', :name => 'uid', :value => member[:user].id}
                %button.pure-button.button{:type => 'submit', :class => member[:admin] ? 'button-warning' : 'button-primary'}
                  - if member[:admin]
                    %i.fa.fa-arrow-down= ""
                    = t(:'membership/groups/members/list/item/actions/demote')
                  - else
                    %i.fa.fa-star= ""
                    = t(:'membership/groups/members/list/item/actions/promote')
