.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t :'system/title'
    
    %h2= t :items_to_review
    %ul
      %li
        - if @system_alerts > 0
          %a{:href => '/system/alerts'}
            %i.fa.fa-bell= ""
            = t :'alerts/count', :count => @system_alerts
        - else
          = t :'alerts/none'
