%ul.page-sidebar
  %li.page-sidebar-item{:class => ("page-sidebar-selected" if current?('/system'))}
    %a.page-sidebar-link{:href => "/system"}
      = t(:'system/title')

  - if has_role? 'system:alerts'
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/system/alerts"))}
      %a.page-sidebar-link{:href => "/system/alerts"}
        = t(:'alerts/title')
        - if @system_alerts > 0
          %span.badge
            %i.fa.fa-bell= ""
            = @system_alerts

  - if has_role? 'system:grant'
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/system/grant"))}
      %a.page-sidebar-link{:href => "/system/grant"}
        = t(:'system/grant/title')

  - if has_role? 'system:change_config'
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/system/config"))}
      %a.page-sidebar-link{:href => "/system/config"}
        = t(:'system/configuration/title')

  - if has_role? 'system:apitokens'
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/system/apitokens"))}
      %a.page-sidebar-link{:href => "/system/apitokens"}
        = t(:'system/apitokens/title')

  - if has_role? 'system:debugging'
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/system/debug"))}
      %a.page-sidebar-link{:href => "/system/debug"}
        = t(:'system/debugging/title')

  - if has_role? 'system:work_queue'
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/system/workqueue"))}
      %a.page-sidebar-link{:href => "/system/workqueue"}
        = t(:'system/work_queue/title')
