Hello,

To verify your email address on <%= ERB::Util.html_escape(site_name) %>,
click the following link, or copy and paste it into your browser:

<%= verify_link %>

This email verification link will expire in 12 hours.

Regards,
<%= ERB::Util.html_escape(site_name) %> - <%= ERB::Util.html_escape(org_name) %>
