<p>A new user has joined a group you administer on <%= ERB::Util.html_escape(site_name) %>.</p>
<p>Group name: <%= ERB::Util.html_escape(group[:name]) %></p>

<hr>

<p>User information:</p>
<p><ul>
  <li><strong>Name:</strong> <%= ERB::Util.html_escape(user_name) %></li>
  <li><strong>Email:</strong> <%= ERB::Util.html_escape(user_email) %></li>
  <% unless branch.nil? || branch.empty? %>
    <li><strong>Branch:</strong> <%= ERB::Util.html_escape(branch) %></li>
  <% end %>
</ul></p>

<hr>

<p>This is an automated email from <%= ERB::Util.html_escape(site_name) %>.</p>
