Hello,

Someone, hopefully you, requested a password reset for the account
<%= ERB::Util.html_escape(email) %> on <%= ERB::Util.html_escape(site_name) %>.

To reset your password, visit the following link in a browser:

<%= reset_link %>

Regards,
<%= ERB::Util.html_escape(site_name) %> - <%= ERB::Util.html_escape(org_name) %>
