<p>Hello,</p>

<p>
Someone, hopefully you, requested a password reset for the account
<code><%= ERB::Util.html_escape(email) %></code> on <%= ERB::Util.html_escape(site_name) %>.
</p>

<p>
<a href="<%= reset_link %>">To reset your password, click here</a>, or visit
the following link in your browser:
</p>

<p><code><%= reset_link %></code></p>

<p>
Regards,
<br>
<%= ERB::Util.html_escape(site_name) %> - <%= ERB::Util.html_escape(org_name) %>
</p>
