Hello,

There are <%= ERB::Util.html_escape(meetings.length.to_s) %> branch meeting(s) in the next week within <%= ERB::Util.html_escape(org_name) %>.

<% for meeting in meetings %>
* Meeting for <%= ERB::Util.html_escape(meeting[:branch_name]) %>:
  Time: <%= ERB::Util.html_escape(meeting[:datetime].strftime("%A, %-d %B %Y at %I:%M %P")) %>
  More info: <%= meeting[:url] %>
<% end %>

-------------------------------------------------------------------------------
You are being sent this email because you are a supporter of <%= ERB::Util.html_escape(org_name) %>.
