<p>Hello,</p>

<p>
  A user on <%= ERB::Util.html_escape(site_name) %> has deleted their account. A summary of their
  account details is below.
</p>

<hr>

<p>
  Identifiers: uid <%= user.id %> pid <%= profile.id %>
  <br>
  Full name: <%= ERB::Util.html_escape(profile.decrypt(:full_name) || '(unknown)') %>
  <br>
  Email address: <%= ERB::Util.html_escape(user.email || '(unknown)') %>
  <br>
  Membership status: <%= ERB::Util.html_escape(profile.decrypt(:membership_status) || '(unknown)') %>
  <br>
  Branch: <%= ERB::Util.html_escape(profile.decrypt(:branch) || '(unknown)') %>
</p>

<hr>

<p>
  You are being notified of this because you have an alerting role for
  membership administration tasks on <%= ERB::Util.html_escape(site_name) %>.
</p>
