Hello,

A user of <%= ERB::Util.html_escape(site_name) %> has <% if type == :join %>joined<% elsif type == :leave %>left<% end %> the branch <%= ERB::Util.html_escape(branch.decrypt(:name)) %>.

This user will <% if type == :join %>now<% elsif type == :leave %>no longer<% end %> appear in the attendance records for new branch meetings.

This user's details are below:

-------------------------------------------------------------------------------

Full name: <%= ERB::Util.html_escape(profile.decrypt(:full_name)) %>
Email address: <%= ERB::Util.html_escape(user.email) %>
Membership status: <%= ERB::Util.html_escape(profile.decrypt(:membership_status)) %>

-------------------------------------------------------------------------------

You are being notified of this because you are an admin of the <%= ERB::Util.html_escape(org_name) %> branch <%= ERB::Util.html_escape(branch.decrypt(:name)) %>.
If you have any questions about this user, please contact the membership administrator.
