#global-announcements
  - @global_announcements.each do |an|
    .global-announcement
      %p= an.message

  - if @global_email_needs_to_verify
    .global-announcement
      %p= t(:'auth/email_verify/banner')

  - if @global_mutex_announce
    .global-announcement
      %p= t(:'dash/mutex/banner')
