%nav.navbar
  .pure-menu.pure-menu-horizontal.navbar-bar
    .navbar-section
      %ul.pure-menu-list.navbar-list
        - unless @navbar_no_site_name
          %li.pure-menu-item.navbar-item
            %a.pure-menu-heading.pure-menu-link.navbar-link{:href => "/", :class => ("pure-menu-selected" if current?("/"))}
              = site_name

        - site_navbar_entries().each do |entry|
          %li.pure-menu-item.navbar-item{:class => ("pure-menu-selected" if entry[:selected])}
            %a.pure-menu-link.navbar-link{:href => entry[:link]}
              = entry[:friendly]
