%h1= @title

%a.pure-button{:href => "/branch"}
  %i.fa.fa-chevron-left= ""
  = t(:'branch/view/back_to_list')

.pure-g
  .pure-u-1.pure-u-md-1-2
    .branch-admin-branch-upcoming.form-wrapped.margin-x
      %h1= t(:'branch/view/upcoming_meetings/title')

      - if @upcoming.length > 0
        %ul.branch-admin-branch-upcoming-list
          - @upcoming.each do |meeting|
            %li
              %a{:href => "/branch/meetings/#{@branch.id}/#{meeting[:id]}"}
                = t(:'meeting/at_time', :datetime => meeting[:datetime])

      - else
        %p= t(:'branch/view/upcoming_meetings/none')

  .pure-u-1.pure-u-md-1-2
    .branch-admin-branch-actions.form-wrapped.margin-x
      %h1= t(:'branch/view/actions/title')

      %a.button.pure-button.button-success{:href => "/branch/meetings/#{@branch.id}/new"}
        %i.fa.fa-plus= ""
        = t(:'branch/view/actions/new_meeting')
      
      %a.button.pure-button.button-primary{:href => "/branch/meetings/#{@branch.id}"}
        %i.fa.fa-calendar= ""
        = t(:'branch/view/actions/meetings')
        
      %a.button.pure-button.button-primary{:href => "/branch/members/#{@branch.id}"}
        %i.fa.fa-user= ""
        = t(:'branch/view/actions/members')

      %a.button.pure-button{:href => "/massemail?target=branch:#{@branch.id}:member"}
        %i.fa.fa-envelope-o= ""
        = t(:'branch/view/actions/mass_email_members')

      %a.button.pure-button{:href => "/massemail?target=branch:#{@branch.id}:supporter"}
        %i.fa.fa-envelope-o= ""
        = t(:'branch/view/actions/mass_email_supporters')
