.admin-members
  %h1= @title

  %a.pure-button{:href => "/branch/#{@branch.id}"}
    %i.fa.fa-chevron-left= ""
    = t(:back)

  - if @members.count.positive? || @supporters.count.positive?
    %a.pure-button.button.button-primary{href: "/branch/members/#{@branch.id}?text=1&supporters=#{@supporters_on ? '1' : '0'}", target: "_blank"}
      %i.fa.fa-file-text-o= ""
      = t(:'branch/members/as_text')

  %a.pure-button.button{href: "/branch/members/#{@branch.id}?supporters=#{@supporters_on ? '0' : '1'}"}
    - if @supporters_on
      %i.fa.fa-toggle-on= ""
    - else
      %i.fa.fa-toggle-off= ""

    = t(:'branch/members/supporters')

  - if @supporters_on
    .form-wrapped
      %h1= t(:'membership_status/member/plural')

  - if @members.length > 0
    %ul.admin-group-members.block-list
      - @members.each do |m|
        %li.admin-group-member-item
          %strong
            &= m[:user_name]

          .admin-group-member-item-info
            %ul.inline-list
              %li
                = succeed ':' do
                  = t(:'user_id')
                %code
                  &= m[:user].id
              %li
                = succeed ':' do
                  = t(:'email_address')
                %code
                  &= m[:user].email

          .block-list-form.admin-group-member-item-actions
            - if has_role?("branch:#{@branch.id}:attendance")
              %a.pure-button.button-primary{:href => "/branch/userattendance/#{@branch.id}/#{m[:user].id}"}
                %i.fa.fa-check-square-o= ""
                = t(:'branch/members/actions/attendance')

            - if has_role?("admin:user:edit")
              %a.pure-button{:href => "/admin/user/edit/#{m[:user].id}"}
                %i.fa.fa-pencil= ""
                = t(:'branch/members/actions/membership_edit_user')

  - else
    %p= t(:'branch/members/none/members')

  - if @supporters_on
    .form-wrapped
      %h1= t(:'membership_status/supporter/plural')

  - if @supporters.length > 0
    %ul.admin-group-members.block-list
      - @supporters.each do |m|
        %li.admin-group-member-item
          %strong
            &= m[:user_name]

          .admin-group-member-item-info
            %ul.inline-list
              %li
                = succeed ':' do
                  = t(:'user_id')
                %code
                  &= m[:user].id
              %li
                = succeed ':' do
                  = t(:'email_address')
                %code
                  &= m[:user].email

          .block-list-form.admin-group-member-item-actions
            - if has_role?("branch:#{@branch.id}:attendance")
              %a.pure-button.button-primary{:href => "/branch/userattendance/#{@branch.id}/#{m[:user].id}"}
                %i.fa.fa-check-square-o= ""
                = t(:'branch/members/actions/attendance')

            - if has_role?("admin:user:edit")
              %a.pure-button{:href => "/admin/user/edit/#{m[:user].id}"}
                %i.fa.fa-pencil= ""
                = t(:'branch/members/actions/membership_edit_user')

  - else
    - if @supporters_on
      %p= t(:'branch/members/none/supporters')
